 :global button {
    color: var(--white);
    font-family: Livvic;
    
    font-weight: 600;
    line-height: 28px;
    cursor: pointer;
    margin: auto;   
  }
 .large{
    padding: 0.6rem 2rem;
    font-size: 1.1rem;
    width: 100%;
    border-radius: 0.5rem;
  }
.small{
    padding: 0.4rem 1.2rem;
    font-size: 0.6rem;
    font-weight: 400;
    letter-spacing: 0.1rem;
    border-radius: 1.5rem;
  }
.normal{
    padding: 0.5rem 1.8rem;
    font-size: 1.125rem;
    border-radius: 1.5rem;
    font-weight: 600;
    letter-spacing: 0.1rem;
    font-style: normal;
  }
.primary{
    border: none;
    background-color: var(--dark-green);  
  }
.secondary{
    border: 2px solid var(--dark-green);
    background-color: white;
    color: var(--dark-green);
  }
.tertiary{
    background-color: var(--pink);
    border: 2.5px solid var(--light-navy);
    color: var(--green-color);
  }
