.profile{
    cursor: pointer;
}
.userAvatar{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.hoverCard{
    padding: 2.5rem 1.5rem;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    position: absolute;
    right: 7%;
    top: 15%;
}
.hoverCard p{
    margin: 2rem 2rem 1rem 0.5rem;
    width: 100%;
    
}
.username{
    text-align: center;
}