.primary {
  border-radius: 4px;
  background: linear-gradient(0deg, #0267ff 0%, #0267ff 100%),
    linear-gradient(127deg, #6425d3 0%, #a259ff 100%),
    linear-gradient(0deg, #0267ff 0%, #0267ff 100%),
    linear-gradient(81deg, #1275d0 0%, #62aef3 100%);
  color: #ffffff;
  border: none;
}
.tertiary {
  border-radius: 4px;
  background: #ffffff;
  color: #47515e;
  border: 1px solid #000000;
}
.large {
  width: 18.75rem;
  height: 2.5rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
}
.medium {
  width: 8.75rem;
  height: 3rem;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 0.08px;
}
