.drawer{
    position: fixed;
    height: 100%;
    font-weight: 600;
    letter-spacing: 0.1rem;
    background: linear-gradient(var(--dark-green), var(--pink));
    color: var(--white);
    top: 0;
    left: 0;
    width: 13rem;
}
.drawer ul{
    list-style: none;
}
.drawer li{
    padding: 1.5rem;
    cursor: pointer;
}

.closeIcon{
    padding-left: 11.5rem;
    padding-top: 0.5rem;
    cursor: pointer;
}