.login{
    display: flex;
    margin-left: 25%;
    margin-top: 10%; 
    


}
.login-image{
    width: 40%;
}
.login h2{
    margin: auto;
}
form{ 
    display: flex;
    flex-direction: column;
    width: 360px;
    border: 1px solid #E9E3B5;
    padding-top: 20px;
    padding-bottom: 30px;

}
input{
    width: 80%;
    height: 40px;
    margin-inline: auto;
    border: #E9E3B5 1px solid ;
    border-radius: 12px;
    padding: 5px;
    padding-left: 20px;
}
.email{
    width: 80%;
    margin-bottom: 40px;
}
.password{
    width: 80%;
    margin-bottom: 40px;
}
.login button{
    width: 60%;
    margin: auto;
    height: 40px;
}
.alt{
    margin: auto;
    display: flex;
    flex-direction: column;
}
.alt_register{
    margin: auto;
}
.have-account{
    width: max-content;
    text-align: center;
    margin-left: -5%;
}

.success-message{
    color: #f67f20;
    font-weight: bolder;
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}
.validation{
    width: 80%;
    margin: auto;
    margin-top: -25px;
    margin-bottom: 25px;
    color: red;
}

.success-message{
    color: #f67f20;
    font-weight: bolder;
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}
.validation{
    width: 80%;
    margin: auto;
    margin-top: -25px;
    margin-bottom: 25px;
    color: red;
}
.success-message{
    color: #f67f20;
    font-weight: bolder;
    width: max-content;
    margin: auto;
    margin-bottom: 20px;
}
.validation{
    width: 80%;
    margin: auto;
    margin-top: -25px;
    margin-bottom: 25px ;
    color: red;
}