.navbar{
    position: fixed;
    left: 20rem;
    top: 40px;
    height: 40px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.home{
    display: flex;
}

.list{
    width: 50%;
    display: flex;
    justify-content: space-between;
    font-weight: 600;
    letter-spacing: 0.094rem;
    align-items: end;
}
 .contactHorizontalBar{
    margin-top: 10px;
    height: 3px;
    background-color: var(--pink);
    visibility: hidden;
}
.homeHorizontalBar{
    margin-top: 10px;
    height: 3px;
    background-color: var(--pink);
    visibility: hidden;
}

@media (max-width:770px) {
    .home, .contact{
        display: none;
    }
    
}