@import url('https://fonts.googleapis.com/css2?family=Roboto:&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --grey: #b8b7bc;
  --orange: #fa8e3f;

  --dark-blue: #020125;
  --green-color: #014e56;
  --pink: #f67e7e;
  --white: #fff;
  --dark-green: #318CE7;
}
body {
  min-height: 100vh;
  background-color: var(--light-grey);
  font-family: 'Roboto', sans-serif;
}
a{
  text-decoration: none;
  font-weight: bolder;
  color: var(--dark-green);
}
