@import url('https://fonts.googleapis.com/css2?family=Livvic:ital@1&display=swap');
* {
  margin: 0;
  padding: 0;
}
:root {
  --grey: #b8b7bc;
  --orange: #fa8e3f;

  --dark-blue: #020125;
  --green-color: #014e56;
  --light-green: #aeefae;
  --pink: #f67e7e;
  --white: #ffffff;
  --dark-green: #004047;
  --light-navy: #487074;

}
body {
  max-width: 100vw;
  min-height: 100vh;
  background-color: var(--light-grey);
  font-family: 'Livvic';
}
h1,
h2,
h3,
.heading {
  color: var(--dark-blue);
  font-weight: 700;
  font-size: 1.9rem;
}
h4,
p {
  font-size: 1rem;
  color: var(--white);
}
form {
  width: max-content;
  display: flex;
  flex-direction: column; 
}
.card{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 0.6rem;
  box-shadow: 0px 3px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 0 3rem 1.25rem 3rem;
}

label {
  font-weight: 700;
  margin-bottom: 0.2rem;
  margin-top: 1.8rem;
  color: var(--green-color);
}
.heading {
  color: var(--white);
  margin: auto;
  background-color: #004047;
  border-bottom-left-radius: 0.875rem;
  border-bottom-right-radius: 0.875rem;
  text-align: center;
  padding: 0.88rem 0;
}
h2 {
  margin: auto;
}

input {
  font-size: 0.94rem;
  padding: 0.5rem 0.8rem;
  font-weight: 600;

  letter-spacing: -0.115385px;
  height: 37px;
  background-color: whitesmoke;
  border: none;
  color: var(--dark-green);
}
input::placeholder{
  font-size: 0.6rem;
}
/* input:focus:valid {
  outline: 2px solid var(--light-green);
} */

input:not(:focus):not(:placeholder-shown):invalid {
  outline: 2px solid var(--pink);
}
input:focus:invalid {
  outline: 2px solid var(--pink);
}

input:not(:focus):not(:placeholder-shown):valid{
  outline: 2px solid var(--light-green);
}
span{
  color: var(--pink);
  display: none;
}
input:focus:invalid ~ span{
  display: block;
}
input:not(:focus):not(:placeholder-shown):invalid ~ span{
  display: block;
}
 button {
  color: var(--white);
  font-family: Livvic;
  
  font-weight: 600;
  line-height: 28px;

  border-radius: 0.875rem;
  cursor: pointer;
  margin: auto;
  margin-top: 1.8rem;
  
} 
.large{
  padding: 0.6rem 2rem;
  font-size: 1.1rem;
}
.small{
  padding: 0.4rem 1.2rem;
  font-size: 0.6rem;
  font-weight: 400;
  letter-spacing: 0.1rem;
  border-radius: 1.5rem;
}
.normal{
  padding: 0.5rem 1.8rem;
  font-size: 1.125rem;
  border-radius: 1.5rem;
  font-weight: 600;
  letter-spacing: 0.1rem;
  font-style: normal;
}

.primary{
  border: none;
  background-color: var(--dark-green);
  border-top: 2px solid var(--light-navy);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
     var(--green-color) 0px -3px 0px inset;

}
.secondary{
  border: none;
  background-color: white;
  border-top: 2px solid var(--light-navy);
  color: var(--dark-green);
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
     var(--green-color) 0px -3px 0px inset;
}
.tertiary{
  background-color: var(--pink);
  border: 2.5px solid var(--light-navy);
  color: var(--green-color);
}
.alert {
  font-size: 1.88rem;
  font-weight: lighter;
}
.successful {
  width: 70%;
  background-color: var(--light-green);
  margin: auto;
  padding: 1.2rem 1.4rem;
  color: #28bc28;
  border-radius: 0.6rem;
  font-size: 1.125rem;
}
.unsuccessful {
  width: 60%;
  margin: auto;
  padding: 1.2rem 1.4rem;
  color: rgb(222, 62, 62);
  border-radius: 0.6rem;
  background-color: rgb(230, 165, 165);
  font-size: 1.125rem;
}
.alt {
  margin: auto;
  margin-top: 1.4rem;
  color: var(--pink);
}
.danger {
  color: var(--pink);
}

a {
  text-decoration: none;
  color: var(--orange-color);
  font-size: 1.1rem;
  font-weight: medium;
}
.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.loader {
  border: 4px solid #f3f3f3;
  border-top: 4px solid #014e56;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  animation: spin 2s linear infinite;
}
textarea {
  width: 30rem;
  height: 80px;
  resize: none;
  margin: 0.625rem 0;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

