@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto+Mono&display=swap");
:root {
  font-family: "Montserrat", sans-serif;
  color: #003048;
}
button {
  background-color: #f67f20;
  color: white;
  border: none;
}

.navigation-bars {
  display: flex;
  flex-direction: column;
}

.side-bar {
  /* position: fixed; */
  font-size: 15px;
  font-weight: 500;
  line-height: 18px;
  color: #003048;
  background-color: whitesmoke;

  width: 15%;
  height: 70vh;

  display: flex;
  justify-content: space-around;
  flex-direction: column;
  text-align: center;

  border-right: 1px solid #003048;
}

.side-bar span:hover {
  cursor: pointer;
  transform: scale(1.4);
}
.navbar {
  position: fixed;
}

section {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.section-1 {
  background-color: #003048;
  color: #f67f20;
}
.text-logo {
  color: #f67f20;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-family: "Roboto Mono", monospace;
  font-weight: 300;
  margin-right: auto;
}
.menu-icon {
  display: none;
}

.search-icon {
  cursor: pointer;
  
}


.icons {
  color: white;
  width: 27px;
  height: 27px;
  margin: 10px;
}
.logo {
  fill: #f67f20;
}
.Add-button {
  background-color: #ff4c4b;
  border-radius: 10px 10px 7px 30px;
}
.edit-button {
  background-color: #0ad065;
  border-radius: 20px 20px 50px 50px;
}
.delete-button {
  background-color: #ff923c;
  border-radius: 20px 20px 50px 50px;
}
.share-button {
  background-color: #0ad065;
  border-radius: 20px 20px 50px 50px;
}
.scan-button {
  width: min-content;
  background-color: #5e8bff;
  border-radius: 20px 20px 50px 50px;
}
.settings-button {
  width: min-content;
  background-color: #65f5fe;
  border-radius: 15px 12px 30px 7px;
}

@media (max-width: 480px) {
  .side-bar {
    display: none;
  }
  .navbar {
    width: 100%;
  }
  .menu-icon {
    visibility: visible;
    fill: #f67f20;
  }
}

a{
  text-decoration: none;
}
