@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
:root{
  font-family: 'Montserrat', sans-serif;
  background-image: url(./Velio/Velio_bg.jpg);
}
.side-bar{
font-size: 15px;
font-weight: 500;
line-height: 18px;
letter-spacing: 0em;
/* text-align: left; */
background-color: white;
color:  #003048;
width: fit-content;

}
.side-bar span{
  margin: auto;
}
.side-bar span:active{
  cursor: pointer;
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  color: #F67F20;
  ;
  
}